@charset "utf-8";
/* CSS Document */
body{background-color: #F4F3F3}
.top-bar{height: 50px; line-height: 50px}
.top-bar a{color: white}
.top-bar a:hover{color: #F2C94C}
.navbar .navbar-nav .nav-item .nav-link{padding: 10px 20px}
.navbar .navbar-nav .nav-item .nav-link:hover{color: #056CB6; background-color: #F2C94C}
.navbar .navbar-nav .nav-item .dropdown-menu{background-color: #056CB6; padding-top: 0px;padding-bottom: 0px}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{color: white}
.navbar .navbar-nav .nav-item .dropdown-menu li{border-radius: 0px;border-bottom: 1px solid white}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{background-color: #F2C94C}
#service a{text-decoration: none;color: #3D3D3D}
#service a:hover{color: #F2C94C}
#why{width: 100%; min-height: 350px; background-image: url("../images/why.jpg");background-repeat: no-repeat;background-size: cover; margin: 25px 0px}
#client .hinh{position: relative}
#client .before{position: absolute;left: 0;top: 0;padding: 10px; background-color: rgba(255,255,255,0.5)}
#client .after{position: absolute;left: 50%;top: 0;padding: 10px; background-color: rgba(255,255,255,0.5)}
#persona{margin: 50px 0px}
#persona .circle-box img{width: 70%; height: 70%; border-radius: 100%}
#persona a{text-decoration: none; color: black}
#persona a:hover{color: #056CB6}
footer{width: 100%; min-height: 300px; background-color: #2F80ED;color: white
;padding-top: 30px}
.gach-vang{
	width: 100px;height: 2px; background-color: #F2C94C; margin: 20px 0
}
footer ul{
	list-style: none; display: block; flex-direction: column; padding-left: 0
}
footer ul li a{
	text-decoration: none;color: white
}
footer ul li a:hover{
	color:  #F2C94C
}
.bottom-bar{
	width: 100%;min-height: 50px; background-color:  #F2C94C; color: white; text-align: center;line-height: 50px; font-size: 10pt
}
#review{width: 100%;min-height: 200px; background-color: white;background-size: cover
}
.review1{background-color: white;min-height: 200px
}
.review1 img{border-radius: 100%}
.top-bar a{text-decoration: none}


/*SLIDE 2*/


.carousel-control-prev-1,
.carousel-control-next-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #056CB6;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev-1,
.carousel-control-next-1 {
    transition: none;
  }
}
.carousel-control-prev-1:hover, .carousel-control-prev-1:focus,
.carousel-control-next-1:hover,
.carousel-control-next-1:focus {
  color: #056CB6;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev-1 {
  left: 0;
}

.carousel-control-next-1 {
  right: 0;
}

.carousel-control-prev-icon-1,
.carousel-control-next-icon-1 {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}


/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon-1 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon-1 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#news a{text-decoration: none;color: black; font-weight: 500}
#news a:hover{color: #F2C94C}
.s-text{font-size: 10pt}
.news{padding: 30px 0}
.dat-hen{padding: 30px 0px 100px 0px
}
.service-box{font-size: 10pt}
.button{padding: 50px 0}
#about{padding: 50px 0px 25px 0px}
#service{margin: 25px 0px}

#banner{width: 100%; min-height: 300px; background-image: url("../images/pageheader.png");background-repeat: no-repeat;background-size: cover; padding-top: 70px}
#tin-tuc{ margin-top: 40px}
.news-title{text-decoration: none;color: black; font-weight: 500;}
.news-title:hover{color: #F2C94C}
.gach-xam{width: 100%; height: 2px; background-color: rgba(192,192,192,1.00); margin: 50px 0px}
.img-box{width: 100%; height: auto}
#tin-tuc .btn:hover{border: 1px solid  #F2C94C;background-color:  #F2C94C}
.thong-diep{background-color: white; padding: 20px ;color: #454545 }
.search-box{background-color: #056CB6; color: white; line-height: 1.5;height: 100%; text-align: center; padding-top: 6px}
#tin-tuc .col-10{padding-right: 0}
#tin-tuc .col-2{padding-left: 0}
.search-box:hover{background-color: #F2C94C}
#tin-tuc .news-menu p a{text-decoration: none; color: #454545}
#tin-tuc .news-menu p a:hover{color: #F2C94C}
#tin-tuc .news-menu a{text-decoration: none; color: #454545}
#tin-tuc .news-menu a:hover{color: #F2C94C}
#contact{margin-top: 40px;margin-bottom: 40px;color: #454545}
#contact button{font-size: 11pt}
.map-box{border: 1px solid #ced4da; background-color: white}
.next-page-btn{width: 80px; height: 40px;background-color: #666666; border-radius: 5px; border: none; color: white}
.next-page-btn:hover{background-color: #056CB6}
.next-page-btn1{width: 50px; height: 40px;background-color: #666666; border-radius: 5px; border: none; color: white}
.next-page-btn1:hover{background-color: #056CB6}





